<h1>Employee: @Model.FirstName @Model.LastName</h1>
<h2>Employee Salary: @Model.Salary.ToString("C")</h2>
<table>
    <tr>
        <th>Healthcare Recipient</th>
        <th>Healthcare Cost Per Year</th>
        <th>Healthcare Cost Per Paycheck</th>
        <th>Delete Dependent</th>
    </tr>
    <tr>
        <td>Employee: @Model.FirstName @Model.LastName</td>
        <td>@Model.EmployeeCostPerYear.ToString("C")</td>
        <td>@Model.EmployeeCostPerPaycheck.ToString("C")</td>
        <td></td>
    </tr>
    @foreach(Dependent d in Model.RelatedDependents)
    {
        <tr>
            <td>Dependent: @d.FirstName @d.LastName</td>
            <td>@d.CostPerYear.ToString("C")</td>
            <td>@d.CostPerPaycheck.ToString("C")</td>
            <td><a asp-action="DeleteDependent" asp-route-id="@d.DepId">Delete</a></td>
        </tr>
    }
</table>
<h3>Yearly Total Healthcare Cost: @Model.TotalCostPerYear.ToString("C")</h3>
<h3>Healthcare Cost Per Paycheck: @Model.TotalCostPerPaycheck.ToString("C")</h3>
<!-- <h3>Net Pay for @Model.FirstName @Model.LastName: @(Model.Salary - Model.TotalCostPerYear).ToString("C") </h3> -->
<h3>Net Pay for @Model.FirstName @Model.LastName: $@(Model.Salary - Model.TotalCostPerYear).00 </h3>

<a asp-action="AddDependentForm" asp-route-id="@Model.EmpId">Add a dependent</a>