@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Employee List</h1>
    <table>
        <tr>
            <th>Employee Name</th>
            <th>Number of Dependents</th>
            <th>Delete</th>
        </tr>
        @foreach(Employee e in Model)
        {
            <tr>
                <td> <a asp-action="EmployeeDetail" asp-route-id="@e.EmpId">@e.FirstName @e.LastName</a></td>
                <td>@e.RelatedDependents.Count</td>
                <td> <a asp-action="DeleteEmployee" asp-route-id="@e.EmpId">Delete Employee</a></td>
            </tr>
        }
    </table>
    <a asp-action="AddEmployeeForm" >Add a new employee</a>

    
</div>
